<footer class="bg-yellow-500 w-full">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="flex flex-col items-center md:items-start">
                <div class="flex items-center mb-4">
                    <a href="/" class="text-gray-800 text-2xl font-bold"><img src="/images/logo.png"
                            alt="Yoga Samadhan Logo" class="h-10 w-auto" /></a>
                    <h3 class="px-3 font-bold text-xl text-gray-800">
                        Yoga Samadhan
                    </h3>
                </div>
                <p class="text-gray-800 text-sm text-center md:text-left">
                    Experience holistic wellness through our integrated approach
                    combining yoga treatment, physiotherapy, wellness courses, and
                    certified teacher training. Our programs support physical healing,
                    mental clarity, and inner peace.
                </p>
                <div class="flex space-x-6 text-xl mt-4">
                    <a href="https://www.facebook.com/YogaSamadhan19/" target="_blank"
                        class="text-blue-600 hover:text-blue-800">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/samadhanyoga/reels/?locale=zh-hans&hl=af" target="_blank"
                        class="text-pink-500 hover:text-pink-700">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCpYIVhZi5Nf47EONAyGg9rg" target="_blank"
                        class="text-red-600 hover:text-red-800">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

            <div class="flex flex-col items-center md:items-start">
                <h4 class="text-gray-800 font-bold text-lg mb-4">Quick Links</h4>
                <a href="/" class="text-gray-800 hover:text-white transition-colors mb-2">Home</a>
                <a href="/services" class="text-gray-800 hover:text-white transition-colors mb-2">Service</a>
                <a href="/courses" class="text-gray-800 hover:text-white transition-colors mb-2">Courses</a>
                <a href="/gallery" class="text-gray-800 hover:text-white transition-colors mb-2">Gallery</a>
                <a href="/contact" class="text-gray-800 hover:text-white transition-colors">Contact</a>
            </div>

            <div class="flex flex-col items-center md:items-start">
                <h4 class="text-gray-800 font-bold text-lg mb-4">Contact Us</h4>
                <p class="text-gray-800 text-sm mb-2">
                    Email:
                    <a href="mailto:yogasamadhan18@gmail.com?subject=Yoga%20Class%20Inquiry"
                        class="text-blue-600 hover:underline">yogasamadhan18@gmail.com</a>
                </p>
                <p class="text-gray-800 text-sm mb-2">
                    Phone:
                    <a href="tel:+919002002959" class="text-blue-600 hover:underline">+919002002959</a>
                </p>
                <p class="text-gray-800 text-sm">
                    <b class="text-cyan-700">Tollygunge Center:</b> 11A/1 B.L. Ganguli
                    Lane, 33, Tollygunge, Kolkata, West Bengal 700033.
                </p>
                <p class="text-gray-800 text-sm">
                    <b class="text-cyan-700">Midnapore Center:</b> Midnapore Railway
                    Station Rd, Bhunia Para, Kotwali, Midnapore, West Bengal 721102
                </p>
            </div>
        </div>

        <div class="mt-8 pt-8 border-t border-yellow-600 text-center">
            <p class="text-gray-800 text-sm">
                © 2025 Yoga Samadhan. All rights reserved.
            </p>
            <p class="text-gray-800 text-sm mt-2">
                Designed & Developed by
                <a href="https://github.com/pustiraju" class="hover:text-white transition-colors">Raju Pusti</a>
            </p>
        </div>
    </div>
</footer>
<script src="scripts.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://unpkg.com/core-js-bundle@latest/minified.js"></script>
</body>

</html>